<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  
    <system.serviceModel>
      
        <behaviors>
            <serviceBehaviors>
                <behavior name="BehaverConfig">
                    <serviceMetadata httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <services>
            <service name="WCFCode.XServer" behaviorConfiguration="BehaverConfig">
              
                <endpoint address=""
                          binding="netHttpsBinding"
                          contract="WCFCode.IXServer"
                          name="https">
                </endpoint>

                <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />

                <host>
                    <baseAddresses>
                        <add baseAddress="https://localhost:9595/WcfService/" />
                    </baseAddresses>
                </host>

            </service>
        </services>

      <bindings>

        <netHttpsBinding>
          <binding name="https" />
        </netHttpsBinding>

      </bindings>

    </system.serviceModel>

</configuration>